.template_collection{
    display: flex;
    justify-content: center;
    
}


.template1{
    /* clip-path: polygon(50% 0%, 0% 100%, 65% 0); */
    border: 1px solid silver;
    width: 3.5in;
    height: 2in;
    z-index: 0;
    position: relative;
    margin: 20px;
}

.tem1{
    /* clip-path: polygon(50% 0%, 0% 100%, 65% 0); */

    background-color: blue;  
    width: 50%;
    height: 100%;
    /* z-index: -1; */
    position: absolute;
    cursor: pointer;

}
.text{
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
}
.info{
    float: right;
    margin-top: 15%;
    margin-right: 10%;
}

.template1:hover{
    transform: scale(1.1);
    transition: 1s ease;
    cursor: pointer;
}